@model DevaxiloS.Services.DomainModels.Customer.UserInfoRequest

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/App/_ProfileLayout.cshtml";
}

@{
    var endIndex = Model.Email.IndexOf("@");
    var nickName = Model.Email.Substring(0, endIndex);
}

<section>
    <div id="divMainContainer" class="container">
        <div class="row">
            <div class="marg-left-70">
                @using (Html.BeginForm("SaveInfo", "Profile", FormMethod.Post, new { id = "formInfo", @style = "border: none" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div class="list">
                            <div class="list-item list-item-separator">Thông tin cơ bản</div>
                            <div class="list-item panel">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="form-custom form-custom-padding">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <span class="form-custom-error-text">*</span><label>&nbsp;Họ và Tên</label>
                                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @maxlength = 40 })
                                                    <div class="clearfix"></div>
                                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <span class="form-custom-error-text">*</span><label>&nbsp;Tên hiển thị</label>
                                                    <input type="text" class="form-control" disabled="disabled" value="@nickName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="list-item list-item-separator">Email và SĐT</div>
                            <div class="list-item panel">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="form-custom form-custom-padding">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" disabled="disabled" value="@Model.Email">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <span class="form-custom-error-text">*</span><label>&nbsp;Mobile</label>
                                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @maxlength = 12 })
                                                    <div class="clearfix"></div>
                                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button id="btnSaveChange" type="button" class="btn btn-success">Lưu thay đổi</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script>
        common.activateMenu("details");
        $("#btnSaveChange").click((evt) => {
            evt.preventDefault();
            var isValid = $("#formInfo").valid();
            if (isValid) {
                $("#btnSaveChange").attr("disabled", "disabled");
                $("#formInfo").submit();
                return false;
            }
            return false;
        });
    </script>
}